@import url("https://fonts.googleapis.com/css?family=Fira+Sans");



nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background-color: white !important;
  z-index: 10;
  display: block;
  /* border: 1px solid #5eae53; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  /*position: fixed;*/
  width: 100%;
}

a.navbar-brand {
  font-weight: 700;
  font-size: 40px;
  margin-left: 50px;
  color: #5eae53;
}

a.nav-link {
  margin: 0px 18px;
  color: #5eae53;
}



/*-----------------------------cart--------------------------------------------------------*/
#delete-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    /* Thêm khoảng cách bên trong nút submit */
    background-color: #fff;
    /* Màu nền xanh */
    color: #5eae53;
    /* Màu chữ trắng */
    border: 2px solid #5eae53;
    /* Border cùng màu với nền */
    border-radius: 0;
    /* Loại bỏ bo góc */
    cursor: pointer;
}

.cart .cart-products {
    min-width: 700px;
    width: auto;
    border-radius: 0px;
    border: 1px solid #5eae53;
    background-color: #fff;
    box-shadow: 0px 3px 35px 0px rgba(24, 16, 35, 0.07);
    padding: 15px 25px 1px 25px;
    margin-top: 20px;
}


.center {
    width: 100%;
    text-align: center;
}

.product-descript button, .account button, input[type="submit"], .cart button, input[type="submit"], .order button, input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #5eae53;
    color: #fff;
    border: 2px solid #5eae53;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.4);
}

.cart-thead {
    font-weight: bold;
    font-size: 17px;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #5eae53;
    border-right: none;
    border-left: none;
    float: left;
    min-width: 600px;
}


.cart-tbody {
    width: 100%;
    float: left;
}

.cart-thead div {
    float: left;
    padding: 10px 0;
    color: #464545;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    /* font-family: "Product Sans"; */
}




.cart-tbody img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
}

.item-cart {
    width: 100%;
    float: left;
    padding: 20px 0;
}

.product-name a,
h2 {
    display: block;
    max-height: 75px;
    overflow: hidden;
    color: #707070;
    font-size: 1rem;
}

.cart-item div {
    line-height: 20px;
    vertical-align: top;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    float: left;
    padding: 10px 0;
    color: #464545;
    text-align: center;
    font-size: 16px;
}





#col1,
#col3 {
    flex-direction: column;
}

.number-input input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
    -moz-appearance: textfield;
    border-radius: 3px;
}

.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #464545;
    border: none;
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    box-shadow: none;
    border-radius: 3px;
    ;
}


.a-right {
    /* text-align: right !important; */
    border: none;
    padding: 35px 0 30px 0;
    padding-right: 0;
}

.totals_price {
    color: #5eae53;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    width: 15%;
    font-weight: 400;
    display: inline-block;
    /* float: right; */
}

.total-table td {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: right;
    padding: 10px;
}

.total-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-item .price {
    font-size: 16px;
    color: #212529 ;
}

.button-group.mt-3 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navbar__item {
    width: 33%!important;
    display: flex;
    align-items: center;
}

.cart-tbody {
    width: 100%;
    float: left;
    margin-bottom: 5%;
}